.stamp {
    width: fit-content;
    margin: auto;
}

.signIn {
    width: 90%;
    max-width: 40rem;
    margin: auto;
}

.signIn__footer {
    display: flex;
    justify-content: center;
}

.signIn__footer > * {
    margin: 0 .5rem;
}