.signOut {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: 1rem;
}

.header {
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > * {
    margin: .5rem;
}