@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    font-family: 'Roboto', sans-serif;
    font-size: calc(12px + 1vw);
    --primary: #0071ef;
    --secondary: #5f6883;
    --light: #FAFAFF;
    --dark: #353535;

    background-color: var(--light);
    color: var(--dark);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
}

input {
    font-family: 'Inconsolata', monospace;
    background-color: inherit;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--dark);
    color: var(--dark);
    font-size: 1rem;
    transition:
        border-color .2s
    ;
}

input:focus {
    border-color: var(--primary);
}

button {
    font-family: 'Inconsolata', monospace;
    color: var(--dark);
    border: none;
    transition:
        opacity .2s
    ;
    font-size: 1rem;
    padding: .2rem .6rem;
}

button:hover {
    opacity: .8;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: var(--dark);
        color: var(--light);
    }

    input {
        border-bottom: 1px solid var(--light);
        color: var(--light);
    }

    button {
        color: var(--light);
        background-color: var(--primary);
    }
}